.navbar{
    background-color:rgb(8, 8, 8)!important;
   
}
.nav-link{
    
color:white !important;
font-size: 16px !important;
font-weight: 600 !important;
}
.nav-link:hover{
    transform: scale(1.1);
}
#t1:hover{
    transform: scale(1.1);
}

/* .body{
    background-color: rgb(231, 230, 223) !important;
} */
.btn1{
    margin-left: 100px;
    background-color: hsl(34, 84%, 63%) !important;
    color: black !important;
    font-weight: bold !important;
}    

.con .text{
    position:relative;
    font-size:2.5rem;
    font-weight: 600px;
 margin-top: 123px;
 
}
#t1{
    margin-left: 100px;
    margin-top: 100px;

}
.sec-text{
    font-weight: bolder !important;
    font-size: 2.5rem ;
    margin-left:100px;
}
.text.sec-text:before{
    content:"" ;
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color:white!important;
    
    border-left: 2px solid black;
    animation: animate 4s steps(12) infinite ;
}
@keyframes animate{
    40%,60%{
        left:100%;
    }
    100%{
        left:100%;
    }
}

.img{
    position: relative;
    transform: rotateY(180deg);
    
    animation: ani 4s linear infinite;


}
@keyframes ani{
    50%{
        right: 100px;
        top:-20px
        
    }
}
#scrollspyHeading2{
    padding: 2px;
    width:10%;
    height: 35px;
    background-color:hsl(34, 84%, 63%);
    font-size: medium;
    font-weight: bold;
    height: fit-content;
    margin-top: -66px;
    margin-left: 615px;  
    text-align: center;  
}
.h3{
    margin-left: 565px;
    margin-top: 50px !important;
    font-size:40px !important;
    font-weight: 600 !important;
    color: rgba(0, 0, 0, 0.76) !important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
.list-style-2{
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    border: 1px;

}
.li{
    border-bottom: 1px solid #eaeaea;
    
    padding-bottom: 12px;
    padding-top: 12px;
}
p{
    text-align:left !important;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8rem;
    color: rgba(29, 28, 28, 0.719);
}
.s{
    color: coral;
}
#scrollspyHeading3{
    padding: 2px;
    width:10%;
    background-color:hsl(34, 84%, 63%);
    font-size: medium;
    font-weight: bold;
    height: fit-content;
    margin-top: 50px;
    margin-left: 615px;  
    height: 35px;
    text-align: center;
}
.bar{
    margin-top: 30px !important;
    
}
.progress{
    height: 12px !important;
}
.progress-bar{
    background-color:hsl(34, 84%, 63%) !important;
height: 12px !important;
}
h5{
    font-style: italic !important;
    font-weight: bolder !important;
}
#scrollspyHeading4{
    padding: 2px;
    width:10%;
    height: 35px;
    background-color:hsl(34, 84%, 63%);
    font-size: medium;
    font-weight: bold;
    height: fit-content;
    margin-top: -66px;
    margin-left: 615px;  
    text-align: center;
}
.card{
    width:100% !important;
}
.img11{
    width:100% !important;
}
.b{
    margin-left: 180px !important;
    width:150px !important;
    
    
}

.card{
    border: none !important;
}
.card:hover{
   transform: scale(1.01);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ul{
    display:flex;
    margin-left: 300px;
    margin-top: 100px;
    list-style: none;
    line-height: 1.5rem;
}
.a{
 text-decoration: none;
 color: white;
}
li:hover{
    transform: scale(1.1);
}
